
.icon-menu:before { content: '\e800'; } /* '' */
.icon-puzzle-outline:before { content: '\e801'; } /* '' */
.icon-comment-alt:before { content: '\f0e0'; } /* '' */
.icon-facebook:before { content: '\f230'; } /* '' */
.icon-instagram:before { content: '\f32d'; } /* '' */
